@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 10%;
    width: 100%;
    background: #55585cd0;
    color: white;
    display: flex;
    position: fixed;
    z-index: 10;
}

nav>h3 {
    font-weight: 800;
    letter-spacing: 3px;
    padding-top: 20px;
    margin-left: 4%;
}

#navLinks {
    height: 100%;
    width: 45%;
    margin-left: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navLinks>a {
    color: white;
    text-decoration: none;
}

#navLinks>a:hover {
    color: rgb(5, 231, 231);
}

#home {
    height: 100%;
    width: 100%;
}

#aboutMe {
    padding-top: 24%;
    margin-left: 10%;
}

#t1 {
    font-size: 45px;
    font-weight: 750;
}

#t2 {
    font-size: 25px;
    font-weight: 720;
}

#t3 {
    font-size: 18px;
    font-weight: 690;
}

#logo {
    position: absolute;
    top: 35%;
    right: 18%;
    animation: homeImg 2.8s cubic-bezier(0.215, 0.610, 0.355, 1);
}

#about {
    height: 100%;
    width: 100%;
    background: #1e2529ec;
    padding: 2%;
}

#about>h1 {
    color: #fff;
    font-weight: 400;
    text-align: center;
}

#desk {
    margin-top: 10%;
    margin-left: 5%;
}

#aboutText {
    height: 65%;
    width: 30%;
    position: relative;
    border: 1px solid #fff;
    margin-top: -30%;
    margin-left: 60%;
    padding: 2%;
    color: #fff;
}

#para {
    font-size: 15px;
    font-weight: 350;
}

#skills {
    height: 100%;
    width: 100%;
    padding: 2%;
}

#skills>h1 {
    font-weight: 400;
    text-align: center;
}

#logos {
    height: 300px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logos>img {
    transition: 1s ease-in-out;
}

#logos>img:hover {
    cursor: pointer;
    transform: rotateY(360deg);
}

#contact {
    height: 20%;
    width: 100%;
    background: #171D20;
    padding: 5%;
}

#contact>h2 {
    color: rgb(255, 255, 255, 0.514);
    font-weight: 450;
    font-size: 20px;
}

#social {
    height: 40px;
    width: 30%;
    position: relative;
    float: right;
    /* margin-top: -2.5%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@keyframes homeImg {
    from {
        transform: translateX(70%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}